.section{
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 30vh;
}
.section:nth-child(2n) {
  background-color: #cfe;
}

.lock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
}